* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hidden {
  display: none;
}


#gameContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#gameContainer img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: rgb(53, 120, 221);
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#backButton img {
  width: 5vh;
  height: 5vh;
}

#filter_menu {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 20%;
}

#filter_menu div {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 120, 221);
  border-radius: 50px;
  border: 2px dashed white;
}

#filter_menu img {
  width: 5vh;
  height: 5vh;
  object-fit: contain;
  background-color: rgb(53, 120, 221);
}

#filter_menu button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#cameraButton {
  position: absolute;
  bottom: 20px; 
  right: 20px;  
}

#cameraButton button {
  background-color: rgb(53, 120, 221);
  border-radius: 5rem;
  border: none;
  padding: 20px;
  padding-top: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cameraButton img {
  width: 6rem;
  height: 6rem;
}



.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

#close-popup {
  margin-top: 15px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#close-popup-err {
  margin-top: 15px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}