<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='RegisterFacePageStyle.css')}}">
    <title>Smile Detector</title>
</head>

<body id="body">
    <nav id="navbar">
        <h1 id="navbar-logo" onclick="window.location.href='/home'">SVilter</h1>
        <a id="navbar-signup" href="/profile">{{session['username']}}</a>
    </nav>
    <div id="main-container">
        <h1>Please Smile To Take Image of Your Face</h1>
        <div>
            <img src="{{ url_for('register_face_video_feed') }}" alt="Video feed" style="width: 100%; max-width: 640px; height: auto;">
        </div>
    </div>
</body>

</html>